.header {
  background-image: url(../images/menu-bg.jpg);
  background-repeat: no-repeat;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header.sticky{
  background-color: black;
}