
.about-section-2 {
    background: url(src/components/images/about-section-2-bg.jpg);
    background-image: url(src/components/images/about-section-2-bg.jpg);
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
    width: 100%;
    float: left;
}
<<<<<<< Updated upstream
.expertise-section{
=======
.heroImg2{
    background-image: url(src/components/images/about-head.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:198px 0 172px;
    height: 100vh;
}
.expertise-section, .header{
>>>>>>> Stashed changes
    background: linear-gradient(45deg, #391335 0%,#040d36 67%,#391335 100%);
    height: 100%;
}
.expertise-section h2 {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    text-align: left;
}
.expertise-section img {
    display: inline-block;
    margin-right: 20px;
}
.bottomline {
    border-top: 1px solid rgb(255,255,255,0.5);
}
.about-section-3 ul {
    width: 100%;
    float: left;
    position: relative;
    padding: 0;
}
.about-section-3 ul li {
    width: 50%;
    float: left;
    list-style-type: none;
    color: #232323;
    margin: 0 0 1rem 0;
}
.about-section-3 ul li::before {
    content: url(src/components/images/about-check.png);
    margin: 0 10px 0 0;
}
.sizerange p {
    color: #232323;
    font-size: 22px;
    font-family: 'GilroyMedium';
    line-height: 40px;
    margin-bottom: 0px;
}
.custom-dot {
    margin-bottom: 16px;
}
.dotcolor {
    height: 18px;
    width: 18px;
    background-color: #2093d1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.dot {
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.bout-section-3{
    background: #ffffff;
    width: 100%;
    float: left;
    border-bottom: 4px solid #1ea0e8;
}
<<<<<<< Updated upstream
=======

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
>>>>>>> Stashed changes
